.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.outer-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: solid 1px gray;
}


.card-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 500px;
  margin-bottom: 50px;
}

.songs-contanier{
  display: flex;
  flex-direction: column;
  align-items: stretch;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.3s;
}

.songs-contanier.active{
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

.songContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}


.song-card{
  margin: 10px !important;
  padding: 10px !important;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
